#first-block {
  background-size: cover;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
  .title-container {
    position: relative;/*相対配置*/
    text-align: center;
    background-size:contain;
    height: 600px;
    overflow: hidden;
  }
    .title-container p {
    font-size: 80px;
    color: #F8F4F4;
    position: absolute;
    top: 200px;
    left: 380px;
  }
  h3 {
    font-size: 50px;
    font-family: serif;
    color: #444;
  }
  .erena ul{
    display: flex;
    gap: 5.5%;
    list-style: none;
    font-family:'Alumni Sans Inline One', sans-serif; ;
  }
  .field2 ul{
    display: flex;
    gap: 10.8%;
    list-style: none;
  }
  .field ul{
    display: flex;
    gap: 6.2%;
    list-style: none;
  }
  .actions ul{
    display: flex;
    gap: 78px;
    list-style: none;
  }
  .aaaaa{
    text-align: center;
  }